{% include 'base.html.twig' %}

{% block body %}

<h1>Bienvenue !</h1>
    <ul>
        <li><a href="{{ path("program_index") }}">Toutes les séries</a></li>
        <li><a href="{{ path("category_index") }}">Toutes les catégories</a></li>
    </ul>
{% endblock %}